

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  

.wrapper {
    width: 1388px;
    margin: auto;
}

.nav-box {
    /* background-color: #fff; */
    position: fixed;
    bottom: 0px;
}

.nav {
    margin-left: 1400px;
}

.navB {
    background-color: aquamarine;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    border: 4px solid yellow;
    margin: 20px;
    box-shadow: 0px 0px 10px 4px transparent;

}

.navB:hover {
    box-shadow: 0px 0px 10px 4px yellow;
}

.navB p {
    color: yellow;
    font-size: 36px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    position: relative;
    top: -80px;
    background-image: url("../images/sea.jpg");
    background-repeat: repeat-y;
    background-size: cover; 
    height: 1000px;
    text-align: center;
    box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 139,0.9);
}
.rotated-text {
    transform: rotate(-30deg);
    font-size: 140px;
    position: relative;
    top: 200px;
    color: aqua;
    text-shadow: -4px -4px 0px darkblue, 4px 4px 0px blue, 8px 8px 0px yellow, 12px 12px 0px red;
    letter-spacing: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: transform 0.3s ease; 
}

.rotated-text:hover {
    transform: scale(1.1) rotate(-20deg);
}

.Himg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 250px 50px 0px 50px;
    box-shadow: 0px 0px 0px 6px purple,0px 0px 0px 10px blue,0px 0px 0px 14px #2a72b6,0px 0px 0px 18px #7eb7ec,0px 0px 0px 22px #ffffff ;

    transition: transform 0.3s ease;
}

.Himg:hover {
    transform: scale(1.1); /* Увеличиваем картинку при наведении на нее */
}

.Hh2 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
    letter-spacing: 10px;
    text-shadow: -6px -8px 0px darkblue, 6px 6px 0px blue, 10px 10px 0px yellow;
}

.short-info { 
    background-color: white;
    padding: 30px 50px 60px 50px;
    margin: -30px 20px 20px 20px;
    border: 8px solid rgba(188, 228, 185, 0.5);
    box-shadow: 0px 0px 0px 20px rgba(255,255,255,0.5);
}

.short-info p {
    margin-bottom: -10px;
    font-size: 20px;
}

.Container {
    background-image: linear-gradient(to left, darkblue, aqua, darkblue);
    padding-bottom: 30px;
    margin-top: 60px;
    border: 10px outset aqua;
    border-radius: 20px;
    box-shadow: 4px 4px 10px aqua;
}

.Container h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    background-color: darkblue;
    color: lightblue;
    text-shadow: 3px 3px 0px yellow;
    border: 10px solid transparent; 
    border-image: linear-gradient(to right, yellow, transparent); 
    border-image-slice: 1; 
}


.Container ul {
    list-style-image: url('../images/shipswheel.png');
    background-color: azure;
    font-family: "Lobster", sans-serif;
    color: darkblue;
    font-size: 24px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: -8px 8px 4px aqua, 0px 8px 4px aqua, 8px 12px 6px blue, 16px 16px 0px yellow;
}

.Container p {
    font-family: "Lobster", sans-serif;
    color: rgb(197, 235, 248);
    font-size: 24px;
    background-color: darkblue;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;

}

.sy1 {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 4px inset aqua;
    border-radius: 10px 10px 10px 10px/40px 10px 10px 10px;
}

.sy2 {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 4px solid yellow;
    border-radius: 0% 50% 50% 50%;
}

.butterflyC {
    border: 6px outset yellow;
    border-radius: 50%;
    padding: 100px;
    width: 600px;
    height: 400px;
    margin: auto;
    text-align: center;
}


.Bimg {
    display: inline-block;
}

.Bimg img {
    width: 200px;
    height: 200px;
    float: left;
}

.Bimg1 {
    border-radius: 0 100% ;
}

.Bimg2 {
    border-radius: 100% 0 100%;
}

.Bimg3 {
    border-radius: 100% 0 100%;
}

.Bimg4 {
    border-radius: 0 100%;
}

.footerIMG {
    text-align: center;
    margin-top: 60px;
}

.footerIMG img {
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-right: 40px;
}

.Fimg {
    transform: rotate(15deg);
    transform-origin: center;
    border: 4px solid white;
    box-shadow: 6px 6px 6px aqua;
}

.mirror {
    transform: rotate(15deg) scale(-1) translate(63px);
    margin-top: 20px;
    mask-image: linear-gradient(to bottom, white, transparent);
    -webkit-mask-image: linear-gradient(to bottom, white, transparent);
    -moz-mask-image: linear-gradient(to bottom, white, transparent);
    -o-mask-image: linear-gradient(to bottom, white, transparent);
    border: 4px solid #fff; 


}

.nged {
    text-align: center;
    background-color: aqua;
    padding: 30px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.6), inset 0px 5px 10px 0px #fff;
}

.nged p{
    display: inline;
    background-color: darkblue;
    color: azure;
    font-size: 26px;
    padding: 6px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 3px yellow;
    margin-left: 40px;
    margin-right: 30px;


}

