.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../images/bg.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 100vh;
}

.wrapper {
    width: 1388px;
    margin: auto;
}

.header {
    position: relative;
    top: -80px;
    background-image: url("../images/sea.jpg");
    background-repeat: repeat-y;
    background-size: cover; 
    height: 1000px;
    text-align: center;
    box-shadow: inset 0px 0px 50px 30px darkblue;
}
.rotated-text {
    transform: rotate(-30deg);
    font-size: 140px;
    position: relative;
    top: 200px;
    color: aqua;
    text-shadow: -4px -4px 0px darkblue, 4px 4px 0px blue, 8px 8px 0px yellow, 12px 12px 0px red;
    letter-spacing: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Himg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 250px 50px 0px 50px;
    box-shadow: 0px 0px 0px 6px purple,0px 0px 0px 10px blue,0px 0px 0px 14px #2a72b6,0px 0px 0px 18px #7eb7ec,0px 0px 0px 22px #ffffff ;
}

.Hh2 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
    letter-spacing: 10px;
    text-shadow: -6px -8px 0px darkblue, 6px 6px 0px blue, 10px 10px 0px yellow;
}

.short-info { 
    background-color: white;
    padding: 30px 50px 60px 50px;
    margin: -30px 20px 20px 20px;
    border: 8px solid rgba(188, 228, 185, 0.5);
    box-shadow: 0px 0px 0px 20px rgba(255,255,255,0.5);
}

.short-info p {
    margin-bottom: -10px;
}

.Classification {
    background-image: linear-gradient(to left, blue, aqua, blue);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
    border: 10px inset aqua;
    border-radius: 20px;
}

.Classification h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    background-color: blue;
    color: lightblue;
    text-shadow: 3px 3px 0px yellow;
    border: 10px solid transparent; /* Начальная прозрачная обводка */
    border-image: linear-gradient(to right, yellow, transparent); /* Градиентная обводка */
    border-image-slice: 1; /* Установка градиента по всему краю */
}


.Classification ul {
    list-style-image: url('../images/shipswheel.png');
    background-color: azure;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: -8px 8px 4px aqua, 0px 8px 4px aqua, 8px 12px 6px blue, 16px 16px 0px yellow;
  }